*.o
*.swp
*~
*.class
*.a
.deps
Makefile
autom4te.cache
libiberty/config.h
libiberty/needed-list
libiberty/required-list
libiberty/stamp-h
libiberty/stamp-picdir
src/nesc1
config.log
config.status
libcpp/config.h
libcpp/config.log
libcpp/config.status
libcpp/localedir.h
libiberty/config.log
libiberty/config.status
src/autom4te.cache/requests
src/c-parse.tab.c
src/c-parse.tab.h
src/c-parse.output
src/config.log
tools/nesc.jar
tools/nescc
tools/nescc-diff
tools/nescc-mig
tools/nescc-ncg
tools/nescc-wiring
